:root {
    --pink: #ff00ff;
    --bg: black;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'work sans', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/gambar1.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Geist', cursive;
    font-size: 2.5rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
}

.hero a:hover {
    color: white;
    background-color: var(--pink);
}

.hero h2 {
    color: rgba(0, 0, 0, 0.959);
}

.timebox {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.time {
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0 0 0 0.5);
    background: rgba(184, 190, 184, 0.664);
}

.time h2 {
    font-size: 5rem;
    font-weight: 100;
}

/*Navbar*/
.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title {
    font-family: 'sacramento', cursive;
    font-size: 2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-color: #2b8bb1;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home h2,
.story h2, .gallery h2, .rsvp h2, .gifts h2 {
    color: var(--pink);
    font-family: 'sacramento';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.home h3 {
    color: #1a1a1a;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #1b1a1a;
}

.home.couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: 'sacramento';
    font-size: 2rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}

.home .couple {
    position: relative;
}

.home .couple .heart {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: red;
    text-shadow: var(--shadow);
}

.home .couple .heart::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-shadow: var(--shadow);
}

/*INFO/ MAPS*/
.info {
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
    background-color: rgba(7, 48, 10, 0.801);
    background-size: cover;
    background-position: center;
}

.info h2 {
    color: var(--pink);
    font-family: 'sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .map-responsive {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

.info .map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
}

/*Warna Story*/
.story {
    background-color: #1a1a1abe;
    background-size: cover;
    background-position: center;
}

/*Warna Gallery*/
.gallery {
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}

/*Warna Rsvp*/
.rsvp {
    background-color: #1b1a1a;
}

/*Warna Gifts*/
.gifts {
    background-color: #666;
}

footer {
    background-color: #3e8cf1;
    padding: 2rem;
    color: white;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
    font-size: 1rem;
}

.footer img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0.5rem auto;
}

.music-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

/*Jarak Story*/
.story, .gallery, .rsvp, .gifts {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

/*Jarak bagaimana cinta kami bersemi*/
.story span, .gallery span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

/*Judul Story*/
.story p, .gallery p, .rsvp p {
    font-size: 1rem;
    flex-wrap: 300;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

/*membuat garis timeline*/
.timeline::before {
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li {
    position: relative;
    margin-bottom: 1.5rem;
}

.timeline li::before, 
.timeline li::after {
    content: "";
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
}

.timeline li .timeline-panel::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

/*Rsvp*/
.rsvp h2 {
    font-size: 4.5rem;
}

.rsvp p {
    color: white;
}

.rsvp form label {
    color: white;
}

.rsvp button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.rsvp button:hover {
    background-color: white;
    color: var(--pink);
    border: 1px solid white;
}

/*Media Query Komputer*/
@media (max-width: 1200px) {
    .home .couple .heart {
        transform: translate(-50%, -50%);
        top: 19%;
        left: 50%;
    }

    .home .couple .heart::before {
        transform: translate(-50%, -50%);
        top: 40%;
        left: 50%;
    }

    .sticky-top {
        display: none;
    }

    .mynavbar {
        display: block;
    }

    .home h2 {
        font-size: 3rem;
    }
}

/* Media Query timeline for Laptops */
@media (max-width: 1024px) {
    .timeline li .timeline-panel {
        width: 45%;
        padding: 1.5rem;
    }

    .timeline li .timeline-image {
        width: 140px;
        height: 140px;
    }

    .timeline li .timeline-panel::before {
        top: 60px;
    }
}

/*Media Query for Tablet*/
@media (max-width: 992px) {
    .home .couple .heart {
        display: none;
    }

    .home .couple::before {
        display: none;
    }

    .sticky-top {
        display: none;
    }

    .mynavbar {
        display: block;
    }
}

/*Media Query for Mobile Phones*/
@media (max-width: 768px) {
    .home .couple .heart {
        display: none;
    }

    .home .couple::before {
        display: none;
    }

    .sticky-top {
        display: none;
    }

    .mynavbar {
        display: block;
    }

    .hero h1 {
        font-size: 1.33rem;
        white-space: nowrap;
    }

    .hero h4 {
        font-size: 1.2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .timebox {
        gap: 10px;
        font-size: 0%;
        align-items: center;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .time {
        width: 100px;
        height: 100px;
        font-size: 30%;
    }

    .time h2 {
        font-size: 2rem;
    }

    /* Adjust font size for smaller screens */
    .info h2 {
        font-size: 4rem;
    }

    .home h2 {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .home .couple .heart {
        display: none;
    }

    .home .couple::before {
        display: none;
    }

    .sticky-top {
        display: none;
    }

    .mynavbar {
        display: block;
    }

    .story h2 {
        font-size: 2.5rem;
        white-space: nowrap;
    }

    .timeline::before {
        left: 60%;
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    .timeline li .timeline-panel {
        width: calc(100% - 200px);
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
}
